---
---

@import "{{ site.theme }}";

.site-footer-credits{
  display: none;
}

.funding-logos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.funding-logos img{
  max-height: 48px;
}
